onnxruntime==1.19.2
opencv_python==4.10.0.84
pillow==11.0.0
FreeSimpleGUI==5.1.1
python_osc==1.9.0
torch
torchvision
pydantic==1.10.18
pyserial==3.5
colorama==0.4.6
winotify==1.1.0
comtypes==1.4.8
pygrabber==0.2
poetry
